:root {
  --spotifyGreen: #1ED760
}

.Login {
  text-align: center;
  line-height: 10px;
}

h1 {
  font-family: 'Montserrat';
  font-size: 4em;
}

p {
  font-family: 'Montserrat';
  font-size: 1.5em;
  font-weight: lighter;
}

.spotify-button {
  text-align: center;
  font-family: 'Montserrat';
  letter-spacing: 0.5px;
  background-color: var(--spotifyGreen);
  border: none;
  color: black;
  padding: 1% 5%;
  border-radius: 100px;
  cursor: pointer;
}

.spotify-button:hover {
  background-color: #53ff8f;
}

.spotify-button:active, .spotify-button:focus, .spotify-button:disabled {
  background-color: #21d861;
}