.FiltersHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FiltersHeader:hover {
  cursor: pointer;
}

.FilterToggle {
  cursor: pointer;
  font-size: 1.5rem;
  background: none;
  border: none;
  width: 50px;
  height: 50px;
}

.FiltersHeader h2 {
  margin-bottom: 1rem;
}

.FiltersContent {
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
}

.FiltersContent.open {
  max-height: 100vh;
  transform: scaleY(1);
}

.Filters p {
  font-size: 14px;
  font-weight: 400;
}

.Filters label {
  display: block;
  margin-bottom: 1rem;
  font-size: 15px;
}

.GenreFilter {
  margin-bottom: 30px;
}

.GenreFilter h3 {
  font-size: 16px;
}

select {
  font-family: Arial;
  font-size: 14px;
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
}

.rc-slider {
  height: 6px;
  min-width: 75px;
}

.rc-slider-rail {
  background-color: #e0e0e0 !important;
  height: 6px !important;
  border-radius: 3px !important;
}

.rc-slider-track {
  background-color: #007bff !important;
  height: 6px !important;
  border-radius: 3px !important;
}

.rc-slider-handle {
  width: 16px !important;
  height: 16px !important;
  background-color: #ffffff !important;
  border: 2px solid #007bff !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  transition: transform 0.2s ease !important;
}

.rc-slider-handle:hover {
  border-color: #0056b3 !important;
}

.rc-slider-handle:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5) !important;
}

.rc-slider-handle:active {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5) !important;
}

.BpmFilter {
  margin-bottom: 30px;
}

.BpmFilter h3 {
  font-size: 16px;
  padding-bottom: 5px;
  margin: 0px;
}

.BpmSlider {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 150px;
  margin-bottom: 30px;
}

.BpmDisplay {
  width: 50px;
  padding: 3px;
  text-align: center;
  font-size: 12px;
  font-family: Arial;
  font-weight: 400;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  cursor: default;
}

.ArtistFamiliarityFilter {
  margin-bottom: 30px;
}

.ArtistFamiliarityFilter h3 {
  font-size: 16px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.ArtistFamiliaritySlider {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ArtistFamiliaritySlider .rc-slider {
  width: 150px;
  margin: 0 10px;
}

.ArtistFamiliaritySlider .rc-slider-track {
  background-color: #007bff !important;
}

.ArtistFamiliaritySlider .rc-slider-rail {
  background-color: #007bff !important;
}

.AllowRerecommendedFilter {
  display: flex;
  margin-bottom: 30px;
}

.AllowRerecommendedCheckbox {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.AllowRerecommendedFilter h3 {
  margin: 0;
  font-size: 16px;
}
